env/
.gitignore
.gitattributes
__pycache__
.github
Dockerfile
/Backend/*.ipynb
/Backend/*.mgz
/Backend/pdfs.csv
/Backend/Resume.csv
/Backend/Resume.pkl
/Backend/stack
/Backend/vote
/Backend/cloud_function.py
.git